### 카이제곱
#### 종속변수가 범주형 변수인 경우, 각 범주에 따른 결과변수의 분포를 설명하거나 범주형 변수가 두 개 이상인 경우 두변수가 상관이 있는지를 검정하는 것

In [1]:
import pandas as pd
f_path = './titanic.csv'
data = pd.read_csv(f_path)

In [4]:
data.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:

table

Sex
female    233
male      109
Name: count, dtype: int64

#### 적합성 검정

In [9]:
# 귀무가설 : 남자여자 생존비율은 50:50이라고 할수 있다
# 대립가설 : 남자여자 생존비율은 50:50이라고 할수 없다.
df_t = data[data['Survived']==1]
table = df_t[['Sex']].value_counts()
#유의수준 0.05로 적합도 검정 수행
from scipy.stats import chisquare
chi = chisquare(table, f_exp=[171,171])
print('적합도 검정 : ', chi)
if chi[1]<0.05:
    print('대립가설 채택')
else:
    print('귀무가설 채택')

적합도 검정 :  Power_divergenceResult(statistic=44.95906432748538, pvalue=2.0119672574477235e-11)
대립가설 채택

#### 독립성 검정

In [12]:
# 귀무가설 : a변수와 b변수는 독립이다. 
# 대립가설 : a변수와 b변수는 별개이다.
table = pd.crosstab(data['Pclass'],data['Survived'])
#유의수준 0.05로 적합도 검정 수행
from scipy.stats import chi2_contingency
chi, p, df, expect = chi2_contingency(table)
print('독립성 검정 p-value: ', p)
if p<0.05:
    print('대립가설 채택')
else:
    print('귀무가설 채택')

독립성 검정 p-value:  4.549251711298793e-23
대립가설 채택

In [13]:
# 귀무가설 : a변수와 b변수는 관계없이 동일하다.
# 대립가설 : a변수와 b변수는 관계없이 동일하지 않다.
table = pd.crosstab(data['Pclass'],data['Survived'])
#유의수준 0.05로 적합도 검정 수행
from scipy.stats import chi2_contingency
chi, p, df, expect = chi2_contingency(table)
print('독립성 검정 p-value: ', p)
if p<0.05:
    print('대립가설 채택')
else:
    print('귀무가설 채택')

독립성 검정 p-value:  4.549251711298793e-23
대립가설 채택